:host {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #16181b;
    background-color: #f8f9fa;
    outline: 0;
  }

  &:active {
    color: #fff;
    background-color: #007bff;
  }

  &.selected {
    color: #fff;
    background-color: #007bff;
    font-weight: 500;
  }

  &:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
  }

  &.sub {
    padding-left: 3rem;
  }
}

::ng-deep .dropdown-item-focused {
  background-color: #e9ecef !important;
  color: #495057 !important;
  border-left: 3px solid #007bff !important;
}
