:host {
  display: block;
  margin: 0;
  padding: 0.5rem 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  max-height: inherit;
  overflow: hidden;
  min-width: 10rem;
}
